.choice {
    display: flex;
    justify-content: center;

    .choiceVal {
        align-self: center;
    }

    .textChoice {
        align-self: center;
        width: 70%;
        height: 60%;
        max-width: 100%;
        max-height: fit-content;
    }

    .choiceButton {
        align-self: center;
    }
}