@use 'app.scss';

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.radioInput {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: app.$border-radius;
}

.textInput {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: app.$border-radius;
}