@import 'app.scss';

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: rgba(48, 48, 48, 0.703);
        color: white;
        text-align: center;
        padding: 2px 0;
        border-radius: $border-radius;
        font-size: 15px;

        position: static;
        z-index: 1;
    }

    &:hover .tooltiptext {
        visibility: visible;
    }
}