$error-color: rgb(217, 48, 48);
$success-color: rgb(29, 193, 29);
$info-color: rgb(0, 60, 255);

.toastList {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 20%;
    margin: 10px;
}

.toast {
    display: flex;
    padding-left: 0px;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0px;
    background-color: white;
    font-weight: bold;

    .bar {
        padding: 5px 6px;
        border-radius: 5px 0px 0px 5px;
        margin-right: 10px;
    }

    p {
        align-self: center
    }
}

.infoToast {
    @extend .toast;
    color: $info-color;

    .bar {
        background-color: $info-color;
    }
}

.errorToast {
    @extend .toast;
    color: $error-color;

    .bar {
        background-color: $error-color;
    }
}

.successToast {
    @extend .toast;
    color: $success-color;

    .bar {
        background-color: $success-color;
    }
}